<div class="col">
  <div class="card">
    <div class="card-header" style="background-color: #FFF0CE;">
      <!-- model must be clickable link -->      
      <h5 class="card-title" ><%=locals.model %></h5>
    </div>
    <div class="card-body">
      <p>
        <% switch (locals.score) {
          case 1: %>
            <span class="col col-sm-7">⭐</span>
            <% break; 
          case 2: %>
            <span class="col col-sm-7">⭐⭐</span>
            <% break;
          case 3: %>
            <span class="col col-sm-7">⭐⭐⭐</span>
            <% break; 
          case 4: %>
            <span class="col col-sm-7">⭐⭐⭐⭐</span>
            <% break; 
          case 5: %>
            <span class="col col-sm-7">⭐⭐⭐⭐⭐</span>
            <% break; %>
        <% } %> <br>

        <span style="font-size: 18px;"> <%=locals.review.slice(0,100) %>... </span>
        <a href="/reviews/<%=locals.phoneId %>/<%=locals.model %>/<%=locals.sort_reviews %>/page/1" class="card-link">read more ></a>
        
        <br><br>
        <b>by <%=locals.userName %></b>  | 
        <% const formattedDate = new Date(locals.date).toISOString().split('T')[0]; %>
        <small> <%=formattedDate%> </small>
      </p>
    </div>
  </div>
</div>
