
<div class="tab-pane fade" id="specs" role="tabpanel" aria-labelledby="specs-tab">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Launch</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Released</td>
                    <td><%=locals.releaseDate %></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Dimensions</td>
                    <td><%=locals.dimensions %></td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td><%=locals.weight %></td>
                </tr>
                
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Display</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Size</td>
                    <td><%=locals.displaySize %></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">OS</td>
                    <td><%=locals.os %></td>
                </tr>
                <tr>
                    <td class="td-width">Chipset</td>
                    <td><%=locals.chipset %></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Internal</td>
                    <td><%=locals.internalMemory %></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Main </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Main Camera</td>
                    <td>
                        <%=locals.mainCam %>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Selfie </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Selfie Camera</td>
                    <td><%=locals.selfieCam %></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Battery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Type</td>
                    <td><%=locals.battery %></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>