<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLmobiles</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" />

    <script src="/js/scripts.js"></script>
  </head>

  <body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Main Content -->
    <main>
      <!-- top title, search bar section -->
      <section>
        <!-- blue line -->
        <div
          class="spacer"
          style="height: 3px; background-color: rgb(27, 41, 173)"
        ></div>

        <div style="background-color: rgb(187, 193, 245)">
          <h2 class="text-center text-light py-2 text-xs">
            Mobile phone user reviews - සිංහල
          </h2>
          <div class="container d-flex justify-content-center pb-1" >
            <div class="row my-2 gx-0">
              <%- include('partials/search-bar') %>               
            </div>
          </div>
        </div>
      </section>

      <!-- top rankings section-->
      <section>
        <h2 class="text text-dark bg-primary-subtle px-4 py-2 fs-5">
          Top rankings
        </h2>

        <div class="container-md">
          <div class="row row-cols-2 row-cols-sm-4 g-2 px-lg-5 mx-lg-5">
            <!--loop for show top ranking phone cardViews-->
            <% phonesTopRanks.forEach((phone) => { %> 
              <%-include('partials/phone-info-card', 
              { id: phone.phone_id,
                model : phone.model,
                img : 'img/'+phone.img,
                score: phone.score, 
                no_of_reviews: phone.number_of_reviews}) %> 
            <% }); %>
          </div>
        </div>
      </section>

      <!-- most reviewed section -->
      <section>
        <h2 class="text text-dark bg-primary-subtle px-4 py-2 mt-2 fs-5">
          Most Reviewed
        </h2>
        <div class="container-md">
          <div class="row row-cols-2 row-cols-sm-4 g-2 px-lg-5 mx-lg-5">
            <!--loop for show most reviewed phones cardViews-->
            <% phonesMostReviewed.forEach((phone) => { %>
            <%-include('partials/phone-info-card', 
              {id: phone.phone_id,
               model : phone.model,
               img: 'img/'+phone.img, 
               score: phone.score,
               no_of_reviews: phone.number_of_reviews}) %> 
            <% }); %>
          </div>
        </div>
      </section>

      <!-- latest user reviews section -->
      <section>
        <h2 class="text text-dark bg-primary-subtle px-4 py-2 mt-2 fs-5">
          Latest Reviews
        </h2>
        <div class="container-md">
          <div class="row row-cols-1 row-cols-sm-2 g-2 px-lg-5 mx-lg-5">
            <!--loop for show latest reviews cardViews-->
            <% userReviews.forEach((rev) => { %>
              <%-include('partials/first-page-review', 
                {id: rev.r_id,
                 model : rev.model,
                 phoneId: rev.phone_id,
                 userName: rev.post_by, 
                 date: rev.post_date,
                 score: rev.score,
                 review: rev.review}) %> 
              <% }); %>

          </div>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>

    <!-- Bootstrap JS and your custom JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
