<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLmobiles</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" />
    
    <style></style>
    
  </head>

  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    
    <main>
      <!-- search section -->
      <section>
        <div
          class="spacer"
          style="height: 3px; background-color: rgb(27, 41, 173)"
        ></div>
        <h1 class="text-center text-light bg-primary py-2 text-xs">
          Mobile phone reviews Sri Lanka
        </h1>

        <div class="container d-flex justify-content-center">
          <div class="row mx-2">
            <form class="form-check-inline col-sm-9 my-2 d-flex">
              <input
                class="form-control mx-2"
                type="search"
                placeholder="Type the model..."
                aria-label="Search"
              />
              <!-- <button class="btn btn-outline-primary mx-2" type="submit" >
                Search
              </button> -->
              <a
                class="btn btn-outline-secondary mx-2"
                href="../public/search.html"
                role="button"
                >Search</a
              >
            </form>
            <div class="dropdown col-12 col-sm-2 my-2 text-center">
              <button
                class="btn btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Select Brand
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Apple</a></li>
                <li><a class="dropdown-item" href="#">Samsung</a></li>
                <li><a class="dropdown-item" href="#">Xiaomi</a></li>
                <li><a class="dropdown-item" href="#">Sony</a></li>
                <li><a class="dropdown-item" href="#">Google</a></li>
                <li><a class="dropdown-item" href="#">Nokia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- phone intro section -->
      <section>
        <h1 class="text-light bg-primary py-2 ps-3" style="font-size: 18px">
          <%= phone_info.model %> user reviews
        </h1>
        <div class="container-sm border rounded border-4"> 
          <div class="row text-center" style="height: 200px">
            <!-- phone image -->
            <div class="col d-flex justify-content-center align-items-center"  >
              <img src="/img/<%= phone_info.img %>" class="img-fluid" alt="A picture of <%= phone_info.model %>" />
            </div>

            <div class="col ">
              <p class="fs-2 mt-5 badge bg-primary text-wrap" style="width: 11rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg> <%= phone_info.score %> /5</p>
              <p class="fs-5 fw-bolder"><%= phone_info.number_of_reviews %> Reviews</p>
            </div>
          </div>
        </div>
      </section>

      <!-- write review section -->
      <section>
        <div class="container border rounded border-4 mt-2">        
        <div class="d-flex justify-content-center my-2">
          <button type="button" 
          class="btn btn-primary btn-lg" 
          data-bs-toggle="collapse" 
          data-bs-target="#writeReviewCollapse" 
          aria-expanded="false" 
          aria-controls="writeReviewCollapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Write you review</button>
        </div>
        <div class="collapse" id="writeReviewCollapse">
          <!--device review form -->
          <form action="/submit" method="POST"  >
            <div class="mb-3">
              <label for="userNameInput" class="form-label">Name</label>
              <input 
                type="text" 
                class="form-control" 
                id="userNameInput" 
                name="userName"
                placeholder="">
            </div>
            <div class="mb-3">
              <label for="reviewTextInput" class="form-label">Type your review</label>
              <textarea 
                class="form-control" 
                id="reviewTextInput" 
                name="reviewText"
                rows="3"></textarea>
            </div>
            
            <div class="col-auto">
              <button type="submit"  class="btn btn-primary mb-3">Submit</button>
            </div>
          
          </form>
        </div>
        
      </div>
      </section>

      <!-- reviews and specifications display section -->
      <section>  
        <div class="container mt-2">
          <ul class="nav nav-tabs" id="reviewsTabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active text-xs"
                id="user-reviews-tab"
                data-toggle="tab"
                href="#user-reviews"
                role="tab"
                aria-controls="user-reviews"
                aria-selected="true"
                >Reviews</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-xs"
                id="specs-tab"
                data-toggle="tab"
                href="#specs"
                role="tab"
                aria-controls="specs"
                aria-selected="false"
                >Specifications</a
              >
            </li>
          </ul>

          <div class="tab-content" id="reviews-specs-tab-content">
            <!-- reviews tab content -->
            <div
              class="tab-pane fade show active"
              id="user-reviews"
              role="tabpanel"
              aria-labelledby="user-reviews-tab"
            >
              <!-- tab content -->
              <div class="dropdown mt-2 text-end">
                <button
                  class="btn btn-outline-primary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Sort by
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">Rating: High to Low</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Rating: Low to High</a>
                  </li>
                  <li><a class="dropdown-item" href="#">Newest</a></li>
                  <li><a class="dropdown-item" href="#">Oldest</a></li>
                </ul>
              </div>

              <!-- user reviews -->
              <div>
                <% if(!user_reviews.length){ %>
                  <div class="card text-center mt-2" style="height: 120px;">
                    <p class="mt-5">No reviews yet.</p>
                  </div>
                <%} else{ %>
                  <% let n = 1; %>
                  <% user_reviews.forEach((review) => { %>
                    <%-include('partials/user-reviews', 
                    {reviewNo: n,
                    score: review.score,
                    date: review.post_date,
                    uReview: review.review,
                    postBy: review.post_by}) %>
                  <% n++; }) %>
                <% } %>
                
              </div>
              <div class="text-center mt-2">
                <p class="text-xs">Page - 01</p>
              </div>
              <div class="text-end">
                <a class="btn btn-outline-primary" href="#" role="button"
                  >Next >></a
                >
              </div>
            </div>
            <!-- specifications -->
            <%-include('partials/specifications')  %>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%-include('partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
