<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLmobiles</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="/js/scripts.js"></script>
    
  </head>

  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    
    <main>
      <!-- search section -->
      <section>
        <div style="background-color: #0C356A">

          <div class="container d-flex justify-content-center pb-1" >
            <div class="row my-2 gx-0">
              <%- include('partials/search-bar') %>             
            </div>
          </div>
        </div>
      </section>

      <!-- phone intro section -->
      <section>
        <div class="container-sm border rounded border-4 px-0"> 

          <h1 class="text-light rounded py-2 ps-3" style="font-size: 18px; background-color: #0174BE;">
            <%= phone_info.model %> 
          </h1>
          
          <div class="row text-center" style="height: 200px">
            <!-- phone image -->
            <div class="col d-flex justify-content-center align-items-center"  >
              <img src="/img/<%= phone_info.img %>" class="img-fluid" alt="A picture of <%= phone_info.model %>" />
            </div>

            <div class="col  me-2">
              <p class="fs-2 badge text-wrap mt-5" style="width: 11rem; background-color: #0174BE;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg> <%= phone_info.score %> /5
              </p>
              <p class="fs-5 fw-bolder"><%= phone_info.number_of_reviews %> Reviews</p>
            </div>
          </div>
        </div>
      </section>

      <!-- write review section -->
      <section>
        <div class="container border rounded border-4 mt-2">        
          <div class="d-flex justify-content-center my-2">
            <button type="button" 
            class="btn btn-lg" 
            style="background-color: #FFC436;"
            data-bs-toggle="collapse" 
            data-bs-target="#writeReviewCollapse" 
            aria-expanded="false" 
            aria-controls="writeReviewCollapse">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              Write your review</button>
          </div>
          <div class="collapse" id="writeReviewCollapse">
            <p class="fw-semibold">
              <%=phone_info.model %> ගැන ඔබගේ review එක මෙතනින් අතුළත් කරන්න.<br>
            </p>
            <!--device review form -->
            <form id="reviewForm" action="/submit/<%=phone_info.phone_id%>" method="POST" name="submitReviewForm">
              <div class="mb-3">
                <label for="userNameInput" class="form-label">ඔබගේ නම :</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="userNameInput" 
                  name="userName"
                  placeholder="" required>
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Please enter username.
                  </div>
            
              </div>
              <div class="mb-3" >
                <label for="" class="form-label">Phone එකට දෙන තරු ගාන :</label>
                <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="starScore" id="inlineRadio1" value="1" onclick="displayStars('1');" required>
                    <label class="form-check-label" for="inlineRadio1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="starScore" id="inlineRadio2" value="2" onclick="displayStars('2');">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="starScore" id="inlineRadio3" value="3" onclick="displayStars('3');">
                    <label class="form-check-label" for="inlineRadio3">3</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="starScore" id="inlineRadio4" value="4" onclick="displayStars('4');">
                    <label class="form-check-label" for="inlineRadio4">4</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="starScore" id="inlineRadio5" value="5" onclick="displayStars('5');">
                    <label class="form-check-label" for="inlineRadio5">5</label>
                  </div>
                  <div class="container ps-3">
                    <p id="starsDisplayP"></p>
                  </div>
              </div>
              <br>
              <div class="mb-3">
                <label id="rlabel" for="reviewTextInput" class="form-label" >Review එක type කරන්න :</label>
                <textarea 
                  class="form-control" 
                  id="reviewTextInput" 
                  name="reviewText"
                  rows="3" required></textarea>
              </div>
              <div class="col-auto">
                <button id="reviewSubmitButton" type="submit"  class="btn btn-primary mb-3">Submit</button>
              </div>
            
            </form>
          </div>
        </div>
      </section>

      <!-- reviews and specifications display section -->
      <section>  
        <div class="container mt-2">
          <ul class="nav nav-tabs" id="reviewsTabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="user-reviews-tab"
                data-toggle="tab"
                href="#user-reviews"
                role="tab"
                aria-controls="user-reviews"
                aria-selected="true"
                >Reviews</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="specs-tab"
                data-toggle="tab"
                href="#specs"
                role="tab"
                aria-controls="specs"
                aria-selected="false"
                >Specifications</a
              >
            </li>
          </ul>

          <div class="tab-content" id="reviews-specs-tab-content">
            <!-- reviews tab content -->
            <div
              class="tab-pane fade show active"
              id="user-reviews"
              role="tabpanel"
              aria-labelledby="user-reviews-tab"
            >
              <h1 class="text-light py-2 ps-3 rounded" style="font-size: 18px; background-color: #0174BE;">
                Reviews by Users
              </h1>
              <!-- sorting dropdown -->
              <div class="dropdown mt-2 text-end">
                <button
                  class="btn btn-outline-primary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Sort by
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/reviews/<%=phone_info.phone_id %>/<%= phone_info.model %>/high_to_low/page/1">Rating: High to Low</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/reviews/<%=phone_info.phone_id %>/<%= phone_info.model %>/low_to_high/page/1">Rating: Low to High</a>
                  </li>
                  <li><a class="dropdown-item" href="/reviews/<%=phone_info.phone_id %>/<%= phone_info.model %>/latest/page/1">Latest</a></li>
                  <li><a class="dropdown-item" href="/reviews/<%=phone_info.phone_id %>/<%= phone_info.model %>/oldest/page/1">Oldest</a></li>
                </ul>
              </div>
              <p class="text-end">Sort by : <%= sort_by %></p>

              <!-- user reviews -->
              <div>
                <% if(!user_reviews.length){ %>
                  <div class="card text-center mt-2" style="height: 120px;">
                    <p class="mt-5">No reviews yet.</p>
                  </div>
                <%} else{ %>
                  <% let n = 1; %>
                  <% user_reviews.forEach((review) => { %>
                    <%-include('partials/user-reviews', 
                    {reviewNo: n,
                    score: review.score,
                    date: review.post_date,
                    uReview: review.review,
                    postBy: review.post_by}) %>
                  <% n++; }) %>
                <% } %>
                
              </div>
              
              <div class="text-center mt-2">
                <p >Page - <%= page_number %></p>
              </div>

              <div class="row">
                <div class="col text-start">
                  <% if(page_number<2){ %>
                    <a class="btn btn-outline-primary disabled"
                    role="button" > Previous </a>
                  <% }else {%>
                    <a class="btn btn-outline-primary " 
                    href="/reviews/<%=phone_info.phone_id %>/<%= phone_info.model %>/oldest/page/<%= page_number-1 %>" 
                    role="button"
                    >Previous</a>
                  <% } %>
                </div>
                <div class="col text-end">
                  <% if(phone_info.number_of_reviews==0 || (phone_info.number_of_reviews)-(page_number*10)<1) {%>
                    <!-- if the number of reviews = 0 or remaining number of reviews of a page are less than 10.this link render -->
                    <a class="btn btn-outline-primary disabled"
                    role="button" > Next </a>
                  <% } else {%>
                    <a 
                    class="btn btn-outline-primary" 
                    href="/reviews/<%=phone_info.phone_id %>/<%= phone_info.model %>/oldest/page/<%= page_number+1 %>" 
                    role="button"
                      >Next</a
                    >

                  <% } %>
                </div>
              </div>
              
            </div>
            <!-- specifications -->
            <%-include('partials/specifications', {
              id: phone_specs.phone_id,
              model: phone_specs.model, 
              releaseDate: phone_specs.release_date,
              dimensions: phone_specs.dimensions,
              weight: phone_specs.weight,
              displaySize: phone_specs.display_size,
              os: phone_specs.os,
              chipset: phone_specs.chipset,
              internalMemory: phone_specs.internal_memory,
              mainCam: phone_specs.main_cam,
              selfieCam: phone_specs.selfie_cam,
              battery: phone_specs.battery
            })  %>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%-include('partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
